<h1>Cocktails list!</h1>
<h2><% @cocktails.each do |c| %></h2>
<p><%= c.name.capitalize %></p>
<% end %>

<%= cl_image_tag("strongbow", width: 400, height: 300, crop: :fill) %>

  <%= cl_image_tag("face", width: 150, height: 150, crop: :thumb, gravity: :face) %>

<!-- background black, white -->
